<%- include ('./includes/header.ejs') %>
    <div class="presentation">
      <div class="presentation__title">
        <h1>Bienvenue à TRT Conseil !  </h1>
        <h3>Trouvez un emploi dans le secteur grâce a une mise en relation directe avec les entreprises  !</h3>
        <span class="presentation__btn">
          <button class=" btn__presentation" >
            <a href="./user/register">register</a> 
          </button> 
        </span>
        
      </div>
      <div class="presentation__picture">
        
      </div>  
    </div>

    <div class="flash"><%= success %><%= error %></div>
    
  </body>
</html>
